* {
  padding: 0;
  margin: 0;
}

body {
  font-family: arial;
}

#templates {
  display: none;
}
.titles {
  height: 28px;
  box-sizing: border-box;
  -moz-box-sizing: border-box; /* Firefox */
  -webkit-box-sizing: border-box; /* Safari */
}
.titles h3 {
  line-height: 1.2em;
  box-sizing: border-box;
  -moz-box-sizing: border-box; /* Firefox */
  -webkit-box-sizing: border-box; /* Safari */
  padding: 3px;
  background: #333;
  color: #fff;
  font-weight: normal;
}
.columns {
  width: 100%;
  overflow-y: scroll;
  overflow-x: visible;
}
.columns .column {
  float: left;
}
.columns .column.odd {
  background: #D9FFFB;
}
.columns .column.even {
  background: #F0F8FF;
}
.issue {
  margin: 0.4em;
  padding: 0.3em;;
  background-color: #FFF7AD;
  position: relative;
  -webkit-box-shadow: 0px 2px 10px rgba(0,0,0, 0.5);
  -moz-box-shadow: 0px 2px 10px rgba(0,0,0, 0.5);
  background-image: -webkit-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0.7));
  background-image: -moz-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0.7));
}
.issue a {
  text-decoration: none;
  color: #000000;
}
.issue h4 {
  word-wrap: break-word;
  font-weight: normal;
  font-size: 0.9em;
}
.issue.bug {
  background-color: pink;
}

.issue .label {
  font-size: 0.8em;
  padding: 3px;
  background: white;
}
.issue.blocked {
  background-color: red;
}
.issue .avatar {
  position: absolute;
  bottom: -5px;
  right: -5px;
  width: 40px;
  height: 40px;
  background: white;
  -webkit-box-shadow: 0px 5px 3px rgba(0,0,0, 0.2);
  -moz-box-shadow: 0px 5px 3px rgba(0,0,0, 0.2);
}
.issue .avatar img {
  width: 100%;
  height: 100%;
  display: block;
} 
.area {
  margin: 5px;
  min-height:500px;
}
.ui-state-hover {
  background: yellow;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
 
.clearfix {
  display: inline-block;
}
 
html[xmlns] .clearfix {
  display: block;
}
 
* html .clearfix {
  height: 1%;
}

#controlBoard {
  z-index: 20;
  position: fixed;
  height: 1.2em;
  bottom: 0;
  left: 0;
}
#controlBoard .section {
  float: left;
}
.labels {
  position: absolute;
  top: 0px;
  right: 0px;
}
#labelBar .label {
  display: block;
  float: left;
  padding: 2px;
  font-size: 0.8em;
  text-decoration: none;
  color: #fff;
  margin-right: 3px;
}
.showLabelFormBtn {
  display: block;
  width: 20px;
  font-size: 1.5em;
  line-height: 20px;
  text-decoration: none;
  font-weight: bold;
  color: #222;
}
.section {
  margin-right: 5px;
}
.newLabelForm input {
  display: block;
  float: left;
  height: 20px;
  margin-right: 3px;
}
.sticker {
  display: block;
  width: 20px;
  height: 5px;
}
.popupForm {
  position: absolute;
  top: 50px;
  width: 60%;
  left: 20%;
  background: #fff;
}
.popupForm form div {
  padding: 1em;
}
.popupForm input,
.popupForm textarea {
  font-size: 1.2em;
}
#issueBody {
  width: 100%;
  height: 150px;
}
#issueTitle {
  width: 100%;
  height: 30px;
}
.over {
  background: #FCFFD4 !important;
}
.htext {
  position: absolute;
  font-size: 4em;
  width: 100%;
  text-align: center;
  opacity: 0.4;
}
.side {
  float:left;
  width:200px;
  height: 100%;
  background: #eee;
}
.side label {
  padding-left: 0.2em;
  font-size: 0.9em;
  width: 90%;
  display: inline-block;
}
.side h4 {
  margin: 0.7em 0;
}
.swimlane {
  position:relative;
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
  border-bottom: #303B99 solid 2px;
}
