.issue {
  position:relative;
  float: left;
  width: 7em;
  font-size: 0.7em;
  height: 70px;
  overflow: hidden !important;
}
.column {
  height: 100%;
}
.drop {
  height: 93%;
  overflow: scroll;
}
