.issue {
  position:relative;
  float: left;
  width: 7em;
  font-size: 0.7em;
  height: 50px;
}
.issue h4 {
  word-wrap: break-word;
}
.issue h4 a {
  text-decoration: none;
  color: #000000;
}
.column {
  float: left;
  width: 20%;
  background: #E0FFDA;
  height: 100%;
}
.all {
  width: 60%;
}
.ready {
  background: #D1F2FF;
}
.priority {
  background: #FFCDDC;
}
.over {
  background: #FCFFD4;
}
.drop {
  height: 95%;
  overflow: scroll;
}
#controlBoard {
  z-index: 20;
  position: absolute;
  width: 200px;
  height: 30px;
  bottom: 0;
  left: 0;
}