* {
  padding: 0;
  margin: 0;
}

body {
  font-family: arial;
}

#templates {
  display: none;
}

.columns .column {
  float: left;
  height: 100%;
}

.columns .column h3 {
  text-align: center;
  background: #B2C3D9;
  padding: 10px;
}
.columns .column.odd h3 {
  background: #9CB9FF;
}

.columns .column.odd {
  background: #D9FFFB;
}
.issue {
  margin: 10px;
  padding: 10px;
  background-color: #FFF7AD;
  position: relative;
  -webkit-box-shadow: 0px 2px 10px rgba(0,0,0, 0.5);
  background-image: -webkit-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0.7));
}
.issue h4 {
  margin-bottom: 5px;
}
.issue.bug {
  background-color: pink;
}

.issue .label {
  font-size: 0.8em;
  padding: 3px;
  background: white;
}

.issue.blocked {
  background-color: red;
}

.issue .avatar {
  position: absolute;
  bottom: -5px;
  right: -5px;
  width: 40px;
  height: 40px;
  background: white;
  -webkit-box-shadow: 0px 5px 3px rgba(0,0,0, 0.2);
  
}
.issue .avatar img {
  width: 100%;
  height: 100%;
  display: block;
} 